.boton-radio {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .boton-radio:hover {
    background-color: #e0e0e0;
  }
  
  /* Estilos para cuando el botón está seleccionado */
  input[type="radio"]:checked + .boton-radio {
    background-color: rgb(30, 255, 0);
    color: #000000;
    border-color: rgb(30, 255, 0);
  }

.boton-check{
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: rgb(255, 8, 0);
    border: 1px solid rgb(255, 0, 0);
    border-radius: 5px;
    cursor: pointer;
    }

.div-separa{
  margin-top: 20px;
  padding-left: 30px;
}