{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio Sistema</title>
    <link rel="stylesheet" href="{% static 'css/style_home_system.css' %}">
</head>
<body>
  <main class="container-nav">
    <header class="header">
      <nav class="nav">
    <input type="checkbox" name="" id="nav__checkbox" class="nav__checkbox" />
    <label for="nav__checkbox" class="nav__toggle">
      
      <svg class="menu" viewBox="0 0 448 512" width="100" title="bars">
        <path
          d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z" />
     </svg>
  
      
      <svg class="close" viewBox="0 0 384 512" width="100" title="times">
        <path
          d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z" />
     </svg>
     </label>
  
    <ul class="nav__menu">
      <li class="menu__logo">
          <a href="#" class="nav_logo mont">{{empresa}}</a>   
     </li>
      <li><a href="{% url 'inicio' %}" class="roboto">Home</a></li>
      <li><a href="{% url 'cambio_tempe' inicio %}" class="roboto">Temperatura</a></li>
      <li><a href="{% url 'cambi_aceite' inicio %}" class="roboto">Aceite</a></li>
      <li><a href="{% url 'limpieza_puestos' inicio %}" class="roboto">Limpieza</a></li>
      <li><a href="{% url 'cerrar_sesion_perfil' %}" class="button" class="roboto">Cerrar Sesión</a></li>
      </ul>
   </nav>
  </header>
  </main>
  
    
    <section class="menu">
      <div class="container">
        <a href="{% url 'limpieza_puestos' inicio %}" class="card">
          <img src="{% static 'img/familiar.png' %}" alt="Limpieza de Puestos">
          <div class="title"><span>Limpieza de Puestos</span> </div>
        </a>
        <a href="{% url 'cambi_aceite' inicio %}" class="card">
          <img src="{% static 'img/freidora.png' %}" alt="Freidoras">
          <div class="title">Seguimiento aceites</div>
        </a>
        <a href="{% url 'cambio_tempe' inicio %}" class="card">
          <img src="{% static 'img/nevera.png' %}" alt="Tareas">
          <div class="title">Temperatura de neveras</div>
        </a>
        
      </div>
    </section>
    
    <footer>

      <div class="footer">
        <a href="{% url 'home_historial' %}">Historial</a>
        <a href="{% url 'reporte' %}">Reportes</a>
        {% if cargos.permiso == "Admin" %}
          <a href="{% url 'login_paramet' %}">Parametros</a>
        {% endif %}
        <div class="perfil-datos">
          <img src="{% static 'img/perfil.png' %}" alt="">
          <div class="datos">
            <span>Perfil: {{nombre}}</span>
            <span>Cargo: {{cargos.nombre_cargo}}</span>
          </div>
        </div>
      </div>
      
    </footer>
</body>
</html>